services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.0
    command: start-dev
    ports:
      - "8080:8080"
    environment:
      KC_DB: dev-file
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME: "localhost"
