server:
  port: 8082

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/myrealm
          # Validates token signature using JWKs from issuer
      provider:
        keycloak:
          issuer-uri: http://localhost:8080/realms/myrealm
          user-name-attribute: preferred_username
